---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import projectData from "../content/projectData.ts";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Professional Projects</div>
  </div>

  <div>
    {
      projectData.map((project, index) => (
        <>
          <HorizontalCard
            title={project.title}
            img={project.img}
            desc={project.desc}
            url={project.url}
            badge={project.badge}
            role={project.role}
            outcome={project.outcome}
          />
          {index < projectData.length - 1 ? <div class="divider my-0" /> : null}
        </>
      ))
    }
  </div>
</BaseLayout>
